#centralWidget
{
    background-color: black;
    color: white;
}

#footer
{
}

#runningText
{
    color: green;
    font: 0pt "Ubuntu";
    font-weight: bold;
}

#clock
{
    color: gold;
    font: 0pt "Arial";
    font-weight: normal;
}
